<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/static/stylesheets/print.css" type="text/css"/>
    <title>{{checklist.name}}</title>
</head>
<body class="ss-checklist-body">
<div class="ss-checklist-container">
    <h1 class="ss-checklist-title">{{checklist.name}}</h1>

    <p></p>

    <div class="ss-checklist-desc">{{checklist.description}}</div>
    <p></p>

    <p></p>

    <div id="checklist_items">
        <ul class="ss-item">
            <li>
                {% for group in checklist_item_groups %}
                <div class="ss-block-title">{{group.item}}</div>
                <p></p>
                <ul class="ss-item">
                    {% for item in group.sub_checklist_item_set %}
                    <li>
                        <input type="checkbox" id="{{item.key}}" name="{{item.key}}"><label for="{{item.key}}">{{item.item}}</label>
                    </li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </li>
        </ul>
    </div>
    <p></p>
    <span class="ss-powered-by">Powered By <a href="http://checklist.cc">Checklist.cc</a></span>
</div>
<p></p>
</body>
</html>
