{% extends "base.html" %}
{% block title %}{{title}} - checklist {% endblock %}
{% block checklist %}
<!--CSS file (default YUI Sam Skin) -->
<link type="text/css" rel="stylesheet"
      href="http://yui.yahooapis.com/2.7.0/build/datatable/assets/skins/sam/datatable.css">
<!-- Dependencies -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/element/element-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/datasource/datasource-min.js"></script>
<!-- OPTIONAL: JSON Utility (for DataSource) -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/json/json-min.js"></script>
<!-- OPTIONAL: Connection Manager (enables XHR for DataSource) -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/connection/connection-min.js"></script>
<!-- OPTIONAL: Drag Drop (enables resizeable or reorderable columns) -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/dragdrop/dragdrop-min.js"></script>
<!-- Source files -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/datatable/datatable-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/button/button-min.js"></script>
<style type="text/css">
    .align_center {
        text-align: center !important;
    }
</style>
<script type="text/javascript">
    YAHOO.util.Event.addListener(window, "load", function() {
        YAHOO.checklist.columns.RowDataMod = function() {
            var imageFormatter = function(elCell, oRecord, oColumn) {
                elCell.innerHTML = '<input type="image" src="/static/images/' + oColumn.key + '.png" name="' + oColumn.key + '" title="' + oColumn.label + ' row" />';
                elCell.style.cursor = 'pointer';
            };

            var myColumnDefs = [
                {key:"check",resizeable:true,label:"",formatter:YAHOO.widget.DataTable.formatCheckbox,className:"align_center"},
                {key:"name",resizeable:true,label:"Column Name",editor: new YAHOO.widget.TextboxCellEditor({disableBtns:true})},
                {key:"type",resizeable:true,label:"Column Type",editor:new YAHOO.widget.DropdownCellEditor({dropdownOptions:["Checkbox","String","Category","Number","Yes/No","Date"],disableBtns:true})},
                {key:"up",resizeable:true,label:"Up",formatter:imageFormatter},
                {key:"down",resizeable:true,label:"Down",formatter:imageFormatter}
            ];

            var myDataSource = new YAHOO.util.DataSource([{name:"Checkbox",type:"Checkbox"},{name:"Item",type:"String"}]);
            myDataSource.responseType = YAHOO.util.DataSource.TYPE_JSARRAY;
            myDataSource.responseSchema = {
                fields: ["name","type"]
            };

            var myDataTable = new YAHOO.widget.DataTable("columns_container",
                    myColumnDefs, myDataSource, {});

            // Selects any cell that receives a checkbox click
            myDataTable.subscribe("checkboxClickEvent", function(oArgs) {
                var elCheckbox = oArgs.target;
                var elRow = this.getTrEl(elCheckbox);
                if (elCheckbox.checked) {
                    this.selectRow(elRow);
                } else {
                    this.unselectRow(elRow);
                }
            });

            myDataTable.subscribe("cellClickEvent", myDataTable.onEventShowCellEditor);

            return {
                ds: myDataSource,
                dt: myDataTable
            };
        }();
    });
</script>
<div>
    <form method=post id="submitForm">
        <input name=checklist_columns type="hidden"/>
        <table class="noborder_table">
            <tr>
                <td>
                    Checklist name:
                </td>
                <td>{% if checklist %}{{checklist.name}}{% endif %}</td>
            </tr>
            <tr>
                <td>Checklist description:</td>
                <td>{% if checklist %}{{checklist.description}}{% endif %}</td>
            </tr>
            <tr>
                <td>Tags:</td>
                <td>
                    {% for tag in checklist.tags %}
                    <a href="/tag/{{ tag|unquote }}">{{ tag|unquote }}</a>{% if not forloop.last %},{% endif %}&nbsp;
                    {% endfor %}
                </td>
            </tr>
        </table>
    </form>
    <div id="checklist_items"></div>
</div>
<br>
{% endblock %}

