{% extends "base.html" %}
{% block title %}{{title}} - checklist templates{% endblock %}
{% block checklist %}
<!--CSS file (default YUI Sam Skin) -->
<link type="text/css" rel="stylesheet"
      href="http://yui.yahooapis.com/2.7.0/build/datatable/assets/skins/sam/datatable.css">
<link rel="stylesheet" type="text/css"
      href="http://yui.yahooapis.com/2.7.0/build/paginator/assets/skins/sam/paginator.css"/>
<!-- Dependencies -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/element/element-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/datasource/datasource-min.js"></script>
<!-- OPTIONAL: JSON Utility (for DataSource) -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/json/json-min.js"></script>
<!-- OPTIONAL: Connection Manager (enables XHR for DataSource) -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/connection/connection-min.js"></script>
<!-- OPTIONAL: Drag Drop (enables resizeable or reorderable columns) -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/dragdrop/dragdrop-min.js"></script>
<!-- Source files -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/datatable/datatable-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/paginator/paginator-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/button/button-min.js"></script>
<style type="text/css">
    .align_center {
        text-align: center !important;
    }
</style>
<script type="text/javascript">
    YAHOO.util.Event.addListener(window, "load", function() {
        YAHOO.checklist.templates.DynamicData = function() {
            // Column definitions
            var myColumnDefs = [ // sortable:true enables sorting
                {key:"check",resizeable:true,label:"Select Row",formatter:YAHOO.widget.DataTable.formatCheckbox,className:"align_center"},
                {key:"name", label:"Name", sortable:true},
                {key:"description", label:"Description", sortable:false},
                {key:"create_date", label:"Create Date", sortable:true,formatter:"date"},
                {key:"last_update_date", label:"Update Date", sortable:true,formatter:"date"},
                {key:"active", label:"Active", sortable:true}
            ];

            // Custom parser
            var stringToDate = function(sData) {
                if(sData!=null){
                var array = sData.split("-");
                return new Date(array[1] + " " + array[0] + ", " + array[2].slice(0,2));
                }
            };

            var buildQueryString = function (state, dt) {
                return "?arg0=" + state.pagination.recordOffset +
                       "&arg1=" + state.pagination.rowsPerPage + '&time=' + new Date().getTime();
            };

            // DataSource instance
            var myDataSource = new YAHOO.util.DataSource("/json/getTemplates");
            myDataSource.responseType = YAHOO.util.DataSource.TYPE_JSON;
            myDataSource.responseSchema = {
                resultsList: "records",
                fields: [
                    {key:"name"},
                    {key:"description"},
                    {key:"create_date",parser:stringToDate},
                    {key:"last_update_date",parser:stringToDate},
                    {key:"active"}
                ],
                metaFields: {
                    totalRecords: "totalRecords" // Access to value in the server response
                }
            };

            var myPaginator = new YAHOO.widget.Paginator({
                containers : ['paging_nav'],
                rowsPerPage : 10,
                template : "{PreviousPageLink} <strong>{CurrentPageReport}</strong> {NextPageLink} {LastPageLink}"
            });

            // DataTable configuration
            var myConfigs = {
                initialRequest: "?arg0=0&arg1=10&time=" + new Date().getTime(),  //'startIndex=0&results=25'
                generateRequest: buildQueryString,
                dynamicData: true, // Enables dynamic server-driven data
                sortedBy : {key:"last_update_date", dir:YAHOO.widget.DataTable.CLASS_ASC}, // Sets UI initial sort arrow
                paginator: myPaginator // Enables pagination
            };

            // DataTable instance
            var myDataTable = new YAHOO.widget.DataTable("templates_container", myColumnDefs, myDataSource, myConfigs);
            // Update totalRecords on the fly with value from server
            myDataTable.handleDataReturnPayload = function(oRequest, oResponse, oPayload) {
                oPayload.totalRecords = oResponse.meta.totalRecords;
                return oPayload;
            };

            var newTemplate = function() {
                window.location.href = "/admin/create/template/";
            };

            YAHOO.util.Event.addListener("addTemplate", "click", newTemplate);

            return {
                ds: myDataSource,
                dt: myDataTable
            };

        }();
    });
</script>
<div>
    Templates list <br><br>
    <button id="addTemplate">Create new Template</button>
    <div id="templates_container">
    </div>
    <div id="paging_nav"></div>
</div>
<br>
{% endblock %}

