<div>
<a href="/create/list">Create new list</a><br>
<a href="/create/quicklist">Quick Create</a><br><br>
</div>

<div>
    <a href="/list">My Chec.kli.st</a> <br>

    <a href="/list/starred">Starred</a>
</div>
        <br><br>
<div>
    <a href="">Other Chec.kli.st</a>
</div>
<div>
    <a href="">My Shared Chec.kli.st</a>
</div>
    <br><br>
<fieldset id="checklist_tags_div">
    <legend>Popular Tags</legend>                                     b.my
    <div class="fieldsetdiv">
        Shopping ToDO GTD
    </div>
</fieldset>
