<div>
    Choose the columns you would like to have in your list.
    The columns on the right were automatically added based on the template you chose.
    <table>
        <tr>
            <th>Additional Columns</th>
            <th>&nbsp;</th>
            <th>Columns to use in my list</th>
        </tr>
        <tr>
            <td>
            <select multiple id="columns_choices">
               <option value="Flag_Yes/No">        <pre>Flag        Yes/No </pre></option>
               <option value="Priority_Yes/No">    <pre>Priority    Yes/No </pre></option>
               <option value="Amount_Number">      <pre>Amount      Number</pre></option>
               <option value="Units_Category">     <pre>Units       Category</pre></option>
               <option value="Category_Category">  <pre>Category    Category</pre></option>
               <option value="Date_Date">          <pre>Date        Date</pre></option>
               <option value="Notes_String">       <pre>Notes       String</pre></option>
               <option value="String">             <pre>--New--     String</pre></option>
               <option value="Category">           <pre>--New--     Category</pre></option>
               <option value="Number">             <pre>--New--     Number</pre></option>
               <option value="Yes/No">             <pre>--New--     Yes/No</pre></option>
               <option value="Date">               <pre>--New--     Date</pre></option>
            </select>
            </td>
            <td></td>
            <td>
            <div>
                <table></table>
            </div>
            </td>
        </tr>
    </table>
</div>

<fieldset id="admin_templates">
    <legend>Checklist templates admin</legend>
    <div class="fieldsetdiv">
        Checklist Templates List:
        <div id="imagesdiv">
        <div id="paging"></div>
        <div id="imagediv"></div>
        </div>
    </div>
</fieldset>
