<!--CSS file (default YUI Sam Skin) -->
<link type="text/css" rel="stylesheet"
      href="http://yui.yahooapis.com/2.7.0/build/datatable/assets/skins/sam/datatable.css">
<!-- Dependencies -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/element/element-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/datasource/datasource-min.js"></script>
<!-- OPTIONAL: JSON Utility (for DataSource) -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/json/json-min.js"></script>
<!-- OPTIONAL: Connection Manager (enables XHR for DataSource) -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/connection/connection-min.js"></script>
<!-- OPTIONAL: Drag Drop (enables resizeable or reorderable columns) -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/dragdrop/dragdrop-min.js"></script>
<!-- Source files -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/datatable/datatable-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/button/button-min.js"></script>
<script type="text/javascript">
    YAHOO.util.Event.addListener(window, "load", function() {
        YAHOO.checklist.templates.RowDataMod = function() {
            var myColumnDefs = [
                {key:"name",resizeable:true,label:"Column Name",editor: new YAHOO.widget.TextboxCellEditor({disableBtns:true})},
                {key:"type",resizeable:true,label:"Column Type",editor:new YAHOO.widget.DropdownCellEditor({dropdownOptions:["Checkbox","String","Category","Number","Yes/No","Date"],disableBtns:true})}
            ];

            var myDataSource = new YAHOO.util.DataSource([{name:"CheckBox",type:"CheckBox"},{name:"Item",type:"String"}]);
            myDataSource.responseType = YAHOO.util.DataSource.TYPE_JSARRAY;
            myDataSource.responseSchema = {
                fields: ["name","type"]
            };

            var myDataTable = new YAHOO.widget.DataTable("columns_container",
                    myColumnDefs, myDataSource, {});

            // Subscribe to events for row selection
            //myDataTable.subscribe("rowMouseoverEvent", myDataTable.onEventHighlightRow);
            //myDataTable.subscribe("rowMouseoutEvent", myDataTable.onEventUnhighlightRow);
            myDataTable.subscribe("rowClickEvent", myDataTable.onEventSelectRow);
            myDataTable.subscribe("cellDbClickEvent", myDataTable.onEventShowCellEditor);

            var getSelectedColumns = function(columns_choices) {
                if (columns_choices && columns_choices.selectedIndex != -1) {
                    var allData = [];
                    for (var i = 0,options = columns_choices.options; i < options.length; i++) {
                        if (options[i].selected) {
                            allData.push({name:options[i].value, type:options[i].className});
                        }
                    }
                    return allData;
                }
                else {
                    return [];
                }
            };

            // Add/update/delete rows as indicated
            var handleClick = function() {
                var mode = this.id,
                        columns_choices = YAHOO.util.Dom.get("columns_choices"),
                        index = myDataTable.getRecordSet().getLength();

                if (YAHOO.lang.isNumber(index)) {
                    switch (mode) {
                        case "addColumn":
                            var selectedColumns = getSelectedColumns(columns_choices);
                            if (selectedColumns.length > 0) {
                                myDataTable.addRows(selectedColumns, index);
                            }
                            return;
                        case "deleteColumn":
                            var selected = myDataTable.getSelectedRows();
                            var rset = myDataTable.getRecordSet();
                            for (var x = 0; x < selected.length; x++) {
                                myDataTable.deleteRow(rset.getRecordIndex(rset.getRecord(selected[x])));
                            }
                            return;
                        default:
                            break;
                    }

                }
                YAHOO.log("Could not continue due to invalid index.");
            };

            YAHOO.util.Event.addListener(["addColumn","deleteColumn"], "click", handleClick);
            return {
                ds: myDataSource,
                dt: myDataTable
            };
        }();
    });
</script>
<div>
    Choose the columns you would like to have in your list.
    The columns on the right were automatically added based on the template you chose.
    <table class="noborder_table">
        <tr>
            <th>Additional Columns</th>
            <th>&nbsp;</th>
            <th>Columns to use in my list</th>
        </tr>
        <tr>
            <td>
                <select multiple id="columns_choices" style="width:185px;height:230px;font-family:Courier New">
                    <option value="CheckBox" class="Checkbox"> CheckBox----Checkbox</option>
                    <option value="Item" class="String"> Item--------String</option>
                    <option value="Flag" class="Yes/No"> Flag--------Yes/No</option>
                    <option value="Priority" class="Number"> Priority----Number</option>
                    <option value="Amount" class="Number"> Amount------Number</option>
                    <option value="Units" class="Category"> Units-------Category</option>
                    <option value="Category" class="Category"> Category----Category</option>
                    <option value="Date" class="Date"> Date--------Date</option>
                    <option value="Notes" class="String"> Notes-------String</option>
                    <option value="New" class="String"> --New-------String</option>
                    <option value="New" class="Category"> --New-------Category</option>
                    <option value="New" class="Number"> --New-------Number</option>
                    <option value="New" class="Yes/No"> --New-------Yes/No</option>
                    <option value="New" class="Date"> --New-------Date</option>
                </select>
            </td>
            <td style="text-align:center;line-height:10px">
                <input type="button" value=">" class="movebutton" id="addColumn">
                <br><br>
                <input type="button" value="<" class="movebutton" id="deleteColumn">
            </td>
            <td>
                <div id="columns_container" style="overflow:auto;height:230px;font-family:Courier New">
                </div>
            </td>
        </tr>
    </table>
</div>
